{{# each products}}
  <br>
<div class="row">
  {{# each this}}
    <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 21rem;">
  <img class="card-img-top" src="{{ this.imagePath }}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{ this.title }}</h4>
    <div class="price float-left">
        {{ this.price }}
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
    <a href="#" class="btn btn-success float-right"><i class="fas fa-cart-plus"></i> CheckOut</a>
  </div>
</div>
</div>
  {{/each}}
{{/each}}

